{% extends 'account/base.html' %}
{% load static %}
{% block head_title %}{{title}}{% endblock %}


{% block content_2 %}
    <section class="section">
    <div class="container mt-2">
        <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
            <div class="login-brand">
            <img src="{% static 'logo.png' %}" alt="logo" width="100" class="shadow-light rounded-circle">
            </div>

            <div class="card card-primary">
                <div class="card-header"><h5>It Works!</h5></div>

                <div class="card-body">
                    
                    {% if user.is_authenticated %}
                        <p class="lead">Welcome back!</p>
                        <table class="table">
                            <tr>
                                <th>Name</th>
                                <td>{{user.get_full_name}}</td>
                            </tr>
                            <tr>
                                <th>Username</th>
                                <td>{{user.username}}</td>
                            </tr>
                        </table>
                        
                        {% else %}
                        <p>Please Sign in</p>
                    {% endif %}
                        
                </div>
            </div>
            <div class="text-muted text-center">
                
                {% if user.is_authenticated %}
                    <a href="{% url 'account_logout' %}">Log out</a>
                    {% else %}
                    <a href="{% url 'account_login' %}">Log in</a>                
                {% endif %}
                    
            </div>
            <div class="simple-footer">
                Template By &copy; Stisla 2018
            </div>
        </div>
        </div>
    </div>
    </section>
{% endblock %}