{% extends 'account/base.html' %}
{% load static %}
{% block head_title %}Sign In{% endblock %}


{% block content_2 %}
    <section class="section">
    <div class="container mt-2">
        <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="login-brand">
            <img src="{% static 'logo.png' %}" alt="logo" width="100" class="shadow-light rounded-circle">
            </div>

            <div class="card card-primary">
                <div class="card-header"><h4>Sign in to O-Auth</h4></div>

                <div class="card-body">
                    <form method="POST" class="needs-validation" novalidate="" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        <!-- Error Handling -->
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <div id="form_errors">
                                {% for key, value in form.errors.items %}
                                    <span class="fieldWrapper">
                                        {{ value }}
                                    </span>
                                {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        <!-- /Error Handling -->
                        <div class="form-group">
                            <label for="login">Email or Username</label>
                            <input id="email" type="text" class="form-control" name="login" tabindex="1" required autofocus>
                            <div class="invalid-feedback">
                            Please fill in your email or username
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="d-block">
                                <label for="password" class="control-label">Password</label>
                            <div class="float-right">
                                <a href="{% url 'account_reset_password' %}" class="text-small">
                                Forgot Password?
                                </a>
                            </div>
                            </div>
                            <input id="password" type="password" class="form-control" name="password" tabindex="2" required>
                            <div class="invalid-feedback">
                            please fill in your password
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="remember" class="custom-control-input" tabindex="3" id="remember-me">
                            <label class="custom-control-label" for="remember-me">Remember Me</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                Login
                            </button>
                        </div>
                    </form>

                </div>
            </div>
            <div class="text-muted text-center">
                Don't have an account? <a href="{% url 'account_signup' %}">Create One</a>
            </div>
            <div class="simple-footer">
                Template By &copy; Stisla 2018
            </div>
        </div>
        </div>
    </div>
    </section>
{% endblock %}