{% extends 'account/base.html' %}
{% load static %}
{% block head_title %}Sign In{% endblock %}


{% block content_2 %}
    <section class="section">
    <div class="container mt-2">
        <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="login-brand">
            <img src="{% static 'logo.png' %}" alt="logo" width="100" class="shadow-light rounded-circle">
            </div>

            <div class="card card-primary">
                <div class="card-header"><h4>Logging out</h4></div>

                <div class="card-body">
                    <p>Are you sure you want to sign out?</p>

                    <form method="POST" class="needs-validation" novalidate="" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" tabindex="4">
                                Logout
                            </button>
                        </div>
                    </form>

                </div>
            </div>

            <div class="simple-footer">
                Template By &copy; Stisla 2018
            </div>
        </div>
        </div>
    </div>
    </section>
{% endblock %}