{% extends 'account/base.html' %}
{% load static %}
{% block head_title %}Sign Up{% endblock %}


{% block content_2 %}
    <section class="section">
    <div class="container mt-2">
        <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
            <div class="login-brand">
            <img src="{% static 'logo.png' %}" alt="logo" width="100" class="shadow-light rounded-circle">
            </div>

            <div class="card card-primary">
                <div class="card-header"><h4>Register O-Auth</h4></div>

                <div class="card-body">
                    <form method="POST" class="needs-validation" novalidate="" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        <!-- Error Handling -->
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <div id="form_errors list-unstyled">
                                {% for key, value in form.errors.items %}
                                    <span>{{ value }}</span>
                                {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        <!-- /Error Handling -->
                        <div class="row">
                            <div class="form-group col-md-6">
                              <label for="first_name">First Name</label>
                              <input id="first_name" type="text" class="form-control" name="first_name" required autofocus>
                              <div class="invalid-feedback">
                                Please enter your first name
                              </div>
                            </div>
                            <div class="form-group col-md-6">
                              <label for="last_name">Last Name</label>
                              <input id="last_name" type="text" class="form-control" required name="last_name">
                              <div class="invalid-feedback">
                                Please enter your last name
                              </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="username">Username</label>
                                <input id="username" type="text" class="form-control" required name="username">
                                <div class="invalid-feedback">
                                    Please choose a username
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="email">Email</label>
                                <input id="email" type="email" class="form-control" required name="email">
                                <div class="invalid-feedback">
                                    Please enter your email address
                                </div>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="form-group col-md-6">
                              <label for="password1" class="d-block">Password</label>
                              <input id="password1" type="password" class="form-control pwstrength" required data-indicator="pwindicator" name="password1">
                              <div class="invalid-feedback">
                                Please choose a password
                              </div>
                              <div id="pwindicator" class="pwindicator">
                                <div class="bar"></div>
                                <div class="label"></div>
                              </div>
                            </div>
                            <div class="form-group col-md-6">
                              <label for="password2" class="d-block">Confirm Password</label>
                              <input id="password2" type="password" class="form-control" required name="password2">
                              <div class="invalid-feedback">
                                Please confirm your password
                              </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                Register
                            </button>
                        </div>
                    </form>

                </div>
            </div>
            <div class="text-muted text-center">
                Already have an account? <a href="{% url 'account_login' %}">Log in</a>
            </div>
            <div class="simple-footer">
                Template By &copy; Stisla 2018
            </div>
        </div>
        </div>
    </div>
    </section>
{% endblock %}
