*:not(i){
    font-family: 'Work Sans', sans-serif;
}

.form-group .control-label, .form-group > label {
    font-weight: normal !important;
    letter-spacing: normal !important;
    font-size: inherit !important;
}

ul {
    list-style-type: none;
}

.alert {
    padding: 0 !important;
}